/* line 4, ../sass/helpers.sass */
.ellipsis {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 7, ../sass/helpers.sass */
.block {
  display: block !important;
}

/* line 9, ../sass/helpers.sass */
.none {
  display: none !important;
}

/* line 12, ../sass/helpers.sass */
.iblock {
  display: inline-block !important;
}

/* line 15, ../sass/helpers.sass */
.tcenter {
  text-align: center !important;
}

/* line 17, ../sass/helpers.sass */
.tleft {
  text-align: left !important;
}

/* line 20, ../sass/helpers.sass */
.tright {
  text-align: right !important;
}

/* line 23, ../sass/helpers.sass */
.tunderline {
  text-decoration: underline !important;
}

/* line 26, ../sass/helpers.sass */
.tline-through {
  text-decoration: line-through !important;
}

/* line 29, ../sass/helpers.sass */
.fbold {
  font-weight: bold !important;
}

/* line 31, ../sass/helpers.sass */
.fnormal {
  font-weight: normal !important;
}

/* line 34, ../sass/helpers.sass */
.italic {
  font-style: italic !important;
}

/* line 37, ../sass/helpers.sass */
.border-none {
  border: none !important;
}

/* line 40, ../sass/helpers.sass */
.list-style-none {
  list-style: none;
}

/* line 43, ../sass/helpers.sass */
.bg-none {
  background: none !important;
}

/* line 46, ../sass/helpers.sass */
.movable-icon {
  cursor: move;
}

/* line 49, ../sass/helpers.sass */
.pointer {
  cursor: pointer !important;
}

/* line 51, ../sass/helpers.sass */
.no-pointer {
  cursor: default !important;
}

/* line 54, ../sass/helpers.sass */
.clear {
  clear: both !important;
}

/* line 57, ../sass/helpers.sass */
.clear-none {
  clear: none !important;
}

/* line 60, ../sass/helpers.sass */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 69, ../sass/helpers.sass */
* html .clearfix {
  zoom: 1;
}

/* line 71, ../sass/helpers.sass */
*:first-child + html .clearfix {
  zoom: 1;
}

/* line 74, ../sass/helpers.sass */
.fl {
  float: left !important;
}

/* line 76, ../sass/helpers.sass */
.fr {
  float: right !important;
}

/* line 78, ../sass/helpers.sass */
.no-float {
  float: none !important;
}

/* line 80, ../sass/helpers.sass */
.no-wrap {
  white-space: nowrap !important;
}

/* line 83, ../sass/helpers.sass */
.posabs {
  position: absolute !important;
}

/* line 85, ../sass/helpers.sass */
.posrel {
  position: relative !important;
}

/* line 87, ../sass/helpers.sass */
.posfix {
  position: fixed !important;
}

/* line 90, ../sass/helpers.sass */
.t0 {
  top: 0 !important;
}

/* line 92, ../sass/helpers.sass */
.b0 {
  bottom: 0 !important;
}

/* line 94, ../sass/helpers.sass */
.r0 {
  right: 0 !important;
}

/* line 96, ../sass/helpers.sass */
.l0 {
  left: 0 !important;
}

/* line 99, ../sass/helpers.sass */
.hidden {
  display: none !important;
}

/* line 102, ../sass/helpers.sass */
.unvisible {
  visibility: hidden !important;
}

/* line 107, ../sass/helpers.sass */
.ma {
  margin: auto !important;
}

/* line 109, ../sass/helpers.sass */
.m0 {
  margin: 0px !important;
}

/* line 111, ../sass/helpers.sass */
.m5 {
  margin: 5px !important;
}

/* line 113, ../sass/helpers.sass */
.m10 {
  margin: 10px !important;
}

/* line 115, ../sass/helpers.sass */
.m15 {
  margin: 15px !important;
}

/* line 117, ../sass/helpers.sass */
.m20 {
  margin: 20px !important;
}

/* line 119, ../sass/helpers.sass */
.m25 {
  margin: 25px !important;
}

/* line 124, ../sass/helpers.sass */
.mt0 {
  margin-top: 0 !important;
}

/* line 126, ../sass/helpers.sass */
.mt5 {
  margin-top: 5px !important;
}

/* line 128, ../sass/helpers.sass */
.mt10 {
  margin-top: 10px !important;
}

/* line 130, ../sass/helpers.sass */
.mt15 {
  margin-top: 15px !important;
}

/* line 132, ../sass/helpers.sass */
.mt20 {
  margin-top: 20px !important;
}

/* line 134, ../sass/helpers.sass */
.mt25 {
  margin-top: 25px !important;
}

/* line 136, ../sass/helpers.sass */
.mt30 {
  margin-top: 30px !important;
}

/* line 138, ../sass/helpers.sass */
.mt40 {
  margin-top: 40px !important;
}

/* line 140, ../sass/helpers.sass */
.mt50 {
  margin-top: 50px !important;
}

/* line 142, ../sass/helpers.sass */
.mt60 {
  margin-top: 60px !important;
}

/* line 144, ../sass/helpers.sass */
.mt70 {
  margin-top: 70px !important;
}

/* line 146, ../sass/helpers.sass */
.mt80 {
  margin-top: 80px !important;
}

/* line 148, ../sass/helpers.sass */
.mt90 {
  margin-top: 90px !important;
}

/* line 150, ../sass/helpers.sass */
.mt100 {
  margin-top: 60px !important;
}

/* line 155, ../sass/helpers.sass */
.mr0 {
  margin-right: 0 !important;
}

/* line 157, ../sass/helpers.sass */
.mr5 {
  margin-right: 5px !important;
}

/* line 159, ../sass/helpers.sass */
.mr10 {
  margin-right: 10px !important;
}

/* line 161, ../sass/helpers.sass */
.mr15 {
  margin-right: 15px !important;
}

/* line 163, ../sass/helpers.sass */
.mr20 {
  margin-right: 20px !important;
}

/* line 165, ../sass/helpers.sass */
.mr25 {
  margin-right: 25px !important;
}

/* line 167, ../sass/helpers.sass */
.mr30 {
  margin-right: 30px !important;
}

/* line 169, ../sass/helpers.sass */
.mr40 {
  margin-right: 40px !important;
}

/* line 171, ../sass/helpers.sass */
.mr50 {
  margin-right: 50px !important;
}

/* line 173, ../sass/helpers.sass */
.mr60 {
  margin-right: 60px !important;
}

/* line 175, ../sass/helpers.sass */
.mr70 {
  margin-right: 70px !important;
}

/* line 177, ../sass/helpers.sass */
.mr80 {
  margin-right: 80px !important;
}

/* line 179, ../sass/helpers.sass */
.mr90 {
  margin-right: 90px !important;
}

/* line 181, ../sass/helpers.sass */
.mr100 {
  margin-right: 100px !important;
}

/* line 186, ../sass/helpers.sass */
.mb0 {
  margin-bottom: 0px !important;
}

/* line 188, ../sass/helpers.sass */
.mb5 {
  margin-bottom: 5px !important;
}

/* line 190, ../sass/helpers.sass */
.mb10 {
  margin-bottom: 10px !important;
}

/* line 192, ../sass/helpers.sass */
.mb15 {
  margin-bottom: 15px !important;
}

/* line 194, ../sass/helpers.sass */
.mb20 {
  margin-bottom: 20px !important;
}

/* line 196, ../sass/helpers.sass */
.mb25 {
  margin-bottom: 25px !important;
}

/* line 198, ../sass/helpers.sass */
.mb30 {
  margin-bottom: 30px !important;
}

/* line 200, ../sass/helpers.sass */
.mb40 {
  margin-bottom: 40px !important;
}

/* line 202, ../sass/helpers.sass */
.mb50 {
  margin-bottom: 50px !important;
}

/* line 204, ../sass/helpers.sass */
.mb60 {
  margin-bottom: 60px !important;
}

/* line 206, ../sass/helpers.sass */
.mb70 {
  margin-bottom: 70px !important;
}

/* line 208, ../sass/helpers.sass */
.mb80 {
  margin-bottom: 80px !important;
}

/* line 210, ../sass/helpers.sass */
.mb90 {
  margin-bottom: 90px !important;
}

/* line 212, ../sass/helpers.sass */
.mb100 {
  margin-bottom: 100px !important;
}

/* line 217, ../sass/helpers.sass */
.ml0 {
  margin-left: 0px !important;
}

/* line 219, ../sass/helpers.sass */
.ml5 {
  margin-left: 5px !important;
}

/* line 221, ../sass/helpers.sass */
.ml10 {
  margin-left: 10px !important;
}

/* line 223, ../sass/helpers.sass */
.ml15 {
  margin-left: 15px !important;
}

/* line 225, ../sass/helpers.sass */
.ml20 {
  margin-left: 20px !important;
}

/* line 227, ../sass/helpers.sass */
.ml25 {
  margin-left: 25px !important;
}

/* line 229, ../sass/helpers.sass */
.ml30 {
  margin-left: 30px !important;
}

/* line 231, ../sass/helpers.sass */
.ml40 {
  margin-left: 40px !important;
}

/* line 233, ../sass/helpers.sass */
.ml50 {
  margin-left: 50px !important;
}

/* line 235, ../sass/helpers.sass */
.ml60 {
  margin-left: 60px !important;
}

/* line 237, ../sass/helpers.sass */
.ml70 {
  margin-left: 70px !important;
}

/* line 239, ../sass/helpers.sass */
.ml80 {
  margin-left: 80px !important;
}

/* line 241, ../sass/helpers.sass */
.ml90 {
  margin-left: 90px !important;
}

/* line 243, ../sass/helpers.sass */
.ml100 {
  margin-left: 100px !important;
}

/* line 248, ../sass/helpers.sass */
.p0 {
  padding: 0px !important;
}

/* line 250, ../sass/helpers.sass */
.p5 {
  padding: 5px !important;
}

/* line 252, ../sass/helpers.sass */
.p10 {
  padding: 10px !important;
}

/* line 254, ../sass/helpers.sass */
.p15 {
  padding: 15px !important;
}

/* line 256, ../sass/helpers.sass */
.p20 {
  padding: 20px !important;
}

/* line 258, ../sass/helpers.sass */
.p25 {
  padding: 25px !important;
}

/* line 263, ../sass/helpers.sass */
.pt0 {
  padding-top: 0 !important;
}

/* line 265, ../sass/helpers.sass */
.pt5 {
  padding-top: 5px !important;
}

/* line 267, ../sass/helpers.sass */
.pt10 {
  padding-top: 10px !important;
}

/* line 269, ../sass/helpers.sass */
.pt15 {
  padding-top: 15px !important;
}

/* line 271, ../sass/helpers.sass */
.pt20 {
  padding-top: 20px !important;
}

/* line 273, ../sass/helpers.sass */
.pt25 {
  padding-top: 25px !important;
}

/* line 275, ../sass/helpers.sass */
.pt30 {
  padding-bottom: 30px !important;
}

/* line 277, ../sass/helpers.sass */
.pt40 {
  padding-bottom: 40px !important;
}

/* line 279, ../sass/helpers.sass */
.pt50 {
  padding-bottom: 50px !important;
}

/* line 281, ../sass/helpers.sass */
.pt60 {
  padding-bottom: 60px !important;
}

/* line 283, ../sass/helpers.sass */
.pt70 {
  padding-bottom: 70px !important;
}

/* line 285, ../sass/helpers.sass */
.pt80 {
  padding-bottom: 80px !important;
}

/* line 287, ../sass/helpers.sass */
.pt90 {
  padding-bottom: 90px !important;
}

/* line 289, ../sass/helpers.sass */
.pt100 {
  padding-bottom: 100px !important;
}

/* line 294, ../sass/helpers.sass */
.pr0 {
  padding-right: 0 !important;
}

/* line 296, ../sass/helpers.sass */
.pr5 {
  padding-right: 5px !important;
}

/* line 298, ../sass/helpers.sass */
.pr10 {
  padding-right: 10px !important;
}

/* line 300, ../sass/helpers.sass */
.pr15 {
  padding-right: 15px !important;
}

/* line 302, ../sass/helpers.sass */
.pr20 {
  padding-right: 20px !important;
}

/* line 304, ../sass/helpers.sass */
.pr25 {
  padding-right: 25px !important;
}

/* line 306, ../sass/helpers.sass */
.pr30 {
  padding-right: 30px !important;
}

/* line 308, ../sass/helpers.sass */
.pr40 {
  padding-right: 40px !important;
}

/* line 310, ../sass/helpers.sass */
.pr50 {
  padding-right: 50px !important;
}

/* line 312, ../sass/helpers.sass */
.pr60 {
  padding-right: 60px !important;
}

/* line 314, ../sass/helpers.sass */
.pr70 {
  padding-right: 70px !important;
}

/* line 316, ../sass/helpers.sass */
.pr80 {
  padding-right: 80px !important;
}

/* line 318, ../sass/helpers.sass */
.pr90 {
  padding-right: 90px !important;
}

/* line 320, ../sass/helpers.sass */
.pr100 {
  padding-right: 100px !important;
}

/* line 325, ../sass/helpers.sass */
.pb0 {
  padding-bottom: 0px !important;
}

/* line 327, ../sass/helpers.sass */
.pb5 {
  padding-bottom: 5px !important;
}

/* line 329, ../sass/helpers.sass */
.pb10 {
  padding-bottom: 10px !important;
}

/* line 331, ../sass/helpers.sass */
.pb15 {
  padding-bottom: 15px !important;
}

/* line 333, ../sass/helpers.sass */
.pb20 {
  padding-bottom: 20px !important;
}

/* line 335, ../sass/helpers.sass */
.pb25 {
  padding-bottom: 25px !important;
}

/* line 337, ../sass/helpers.sass */
.pb30 {
  padding-bottom: 30px !important;
}

/* line 339, ../sass/helpers.sass */
.pb40 {
  padding-bottom: 40px !important;
}

/* line 341, ../sass/helpers.sass */
.pb50 {
  padding-bottom: 50px !important;
}

/* line 343, ../sass/helpers.sass */
.pb60 {
  padding-bottom: 60px !important;
}

/* line 345, ../sass/helpers.sass */
.pb70 {
  padding-bottom: 70px !important;
}

/* line 347, ../sass/helpers.sass */
.pb80 {
  padding-bottom: 80px !important;
}

/* line 349, ../sass/helpers.sass */
.pb90 {
  padding-bottom: 90px !important;
}

/* line 351, ../sass/helpers.sass */
.pb100 {
  padding-bottom: 100px !important;
}

/* line 356, ../sass/helpers.sass */
.pl0 {
  padding-left: 0 !important;
}

/* line 358, ../sass/helpers.sass */
.pl5 {
  padding-left: 5px !important;
}

/* line 360, ../sass/helpers.sass */
.pl10 {
  padding-left: 10px !important;
}

/* line 362, ../sass/helpers.sass */
.pl15 {
  padding-left: 15px !important;
}

/* line 364, ../sass/helpers.sass */
.pl20 {
  padding-left: 20px !important;
}

/* line 366, ../sass/helpers.sass */
.pl25 {
  padding-left: 25px !important;
}

/* line 368, ../sass/helpers.sass */
.pl30 {
  padding-left: 30px !important;
}

/* line 370, ../sass/helpers.sass */
.pl40 {
  padding-left: 40px !important;
}

/* line 372, ../sass/helpers.sass */
.pl50 {
  padding-left: 50px !important;
}

/* line 374, ../sass/helpers.sass */
.pl60 {
  padding-left: 60px !important;
}

/* line 376, ../sass/helpers.sass */
.pl70 {
  padding-left: 70px !important;
}

/* line 378, ../sass/helpers.sass */
.pl80 {
  padding-left: 80px !important;
}

/* line 380, ../sass/helpers.sass */
.pl90 {
  padding-left: 90px !important;
}

/* line 382, ../sass/helpers.sass */
.pl100 {
  padding-left: 100px !important;
}

/* line 387, ../sass/helpers.sass */
.w5p {
  width: 5% !important;
}

/* line 389, ../sass/helpers.sass */
.w10p {
  width: 10% !important;
}

/* line 391, ../sass/helpers.sass */
.w15p {
  width: 15% !important;
}

/* line 393, ../sass/helpers.sass */
.w20p {
  width: 20% !important;
}

/* line 395, ../sass/helpers.sass */
.w25p {
  width: 25% !important;
}

/* line 397, ../sass/helpers.sass */
.w30p {
  width: 30% !important;
}

/* line 399, ../sass/helpers.sass */
.w40p {
  width: 40% !important;
}

/* line 401, ../sass/helpers.sass */
.w50p {
  width: 50% !important;
}

/* line 403, ../sass/helpers.sass */
.w60p {
  width: 60% !important;
}

/* line 405, ../sass/helpers.sass */
.w70p {
  width: 70% !important;
}

/* line 407, ../sass/helpers.sass */
.w80p {
  width: 80% !important;
}

/* line 409, ../sass/helpers.sass */
.w85p {
  width: 85% !important;
}

/* line 411, ../sass/helpers.sass */
.w90p {
  width: 90% !important;
}

/* line 413, ../sass/helpers.sass */
.w100p {
  width: 100% !important;
}

/* line 418, ../sass/helpers.sass */
.w0 {
  width: 0 !important;
}

/* line 420, ../sass/helpers.sass */
.w5 {
  width: 5px !important;
}

/* line 422, ../sass/helpers.sass */
.w10 {
  width: 10px !important;
}

/* line 424, ../sass/helpers.sass */
.w15 {
  width: 15px !important;
}

/* line 426, ../sass/helpers.sass */
.w20 {
  width: 20px !important;
}

/* line 428, ../sass/helpers.sass */
.w25 {
  width: 25px !important;
}

/* line 430, ../sass/helpers.sass */
.w30 {
  width: 30px !important;
}

/* line 432, ../sass/helpers.sass */
.w40 {
  width: 40px !important;
}

/* line 434, ../sass/helpers.sass */
.w50 {
  width: 50px !important;
}

/* line 436, ../sass/helpers.sass */
.w60 {
  width: 60px !important;
}

/* line 438, ../sass/helpers.sass */
.w70 {
  width: 70px !important;
}

/* line 440, ../sass/helpers.sass */
.w80 {
  width: 80px !important;
}

/* line 442, ../sass/helpers.sass */
.w90 {
  width: 90px !important;
}

/* line 444, ../sass/helpers.sass */
.w100 {
  width: 100px !important;
}

/* line 449, ../sass/helpers.sass */
.h50p {
  height: 50% !important;
}

/* line 451, ../sass/helpers.sass */
.h100p {
  height: 100% !important;
}

/* line 455, ../sass/helpers.sass */
.h0 {
  height: 0 !important;
}

/* line 457, ../sass/helpers.sass */
.h5 {
  height: 5px !important;
}

/* line 459, ../sass/helpers.sass */
.h10 {
  height: 10px !important;
}

/* line 461, ../sass/helpers.sass */
.h15 {
  height: 15px !important;
}

/* line 463, ../sass/helpers.sass */
.h20 {
  height: 20px !important;
}

/* line 465, ../sass/helpers.sass */
.h25 {
  height: 25px !important;
}

/* line 467, ../sass/helpers.sass */
.h30 {
  height: 30px !important;
}

/* line 469, ../sass/helpers.sass */
.h40 {
  height: 40px !important;
}

/* line 471, ../sass/helpers.sass */
.h50 {
  height: 50px !important;
}

/* line 473, ../sass/helpers.sass */
.h60 {
  height: 60px !important;
}

/* line 475, ../sass/helpers.sass */
.h70 {
  height: 70px !important;
}

/* line 477, ../sass/helpers.sass */
.h80 {
  height: 80px !important;
}

/* line 479, ../sass/helpers.sass */
.h90 {
  height: 90px !important;
}

/* line 481, ../sass/helpers.sass */
.h100 {
  height: 100px !important;
}
